<section class="property-biding">
    <!--
    <article>
        <h3>Interpolação</h3>
        <p>{{ url }}</p>
        <p>{{ getVal() }}</p>
        <p>Curti? {{ cursoAngular ? 'Sim' : 'Nao' }}</p>
        <img src="{{ urlIMG }}" alt="Imagem Aleatoria">
        <hr>
        <h3>Property Biding</h3>
        <img [src]="urlIMG2" alt="Imagem Aleatoria 2">
    </article>
    <hr>
    <article>
        <h3>Class e Style Biding</h3>
        <div>
            Selecione uma classe:
            <!--Variavel de html-->
    <!--
            <select #classe (change)="0">
              <option value="alert-success">Sucesso</option>
              <option value="alert-info">Info</option>
              <option value="alert-warning">Aviso</option>
              <option value="alert-danger">Perigo</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme valor do combobox
            </div>

            <!--Exemplo class biding-->
    <!--
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
                A simple success alert—check it out!
            </div>
            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
                A simple info alert—check it out!
            </div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
                A simple warning alert—check it out!
            </div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
                A simple danger alert—check it out!
            </div>

            <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Esse texto somente aparece em caso de erro
            </div>
        </div>
    </article>-->
</section>
<section class="event-biding">
    <article>
        <h3>Event biding</h3>
        <div>
            <button (click)="clicked()" class="btn btn-primary">Click me</button>
        </div>
        <br><br>

        <input type="text" (keyup)="OnKeyUp($event)">
        <p>Valor atual: {{ valoratual }}</p>
    </article>
</section>

<!--ATENÇÃO!! - PARA USAR O ngModel É NECESSARIO O IMPORT DO FormsModulo EM app.module.ts-->
<section class="two-way-biding">
    <article>
        <h3>Two way data biding</h3>
        <div>
            <!--Forma verbosa-->
            <input type="text" [ngModel]="name" (ngModelChange)="name = $event">
            <br>
            <!--Forma recomendada-->
            <input type="text" [(ngModel)]="name">
            <p>Você digitou: {{ name }}</p>
        </div>
        <div>
            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos</p>
            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">
        </div>
    </article>
</section>
